<%- include('../partials/header.ejs') %>
	



<div class="container"> 
 <iframe
            src="https://player.vimeo.com/video/735513454?h=41bbcdd9a7?h=938b474e63&title=0&byline=0&portrait=0"
            style="
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 27vh;
              margin: 0;
              padding: 0;
              z-index: 54;
              display: flex;
              align-items: flex-start;
              flex-wrap: nowrap;
              background-color: rgb(255, 255, 255);
            "
            frameborder="0"
	    id="videolink"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
  </div>
<br>
	<div class="left-1">
	 
	  <% if(locals.content) { content.forEach(Content => {
	  if(Content.type=="video"){%>
	  <div class="qcontainer">
		<div
		  onclick="changeVideo('<%= Content.link %>')" >
		  <%= Content.title %>
		</div>
	  </div>
	  <%} else if (Content.type=="exam"){%>
	  <div class="qcontainer">
		<a href="<%= Content.link %>"><%= Content.title %></a>
	  </div>
	  <%} else {%>
	  <div class="qcontainer">
		<a href="<%= Content.link %>"><%= Content.title %></a>
	  </div>
	  <%}})%> <%}%>
	</div>

<br><br><br>
</div>
</body>
<script>
let a;
function changeVideo(a) {
console.log(a);
let imgDiv = document.getElementById("videolink");
imgDiv.src = a; // replace the image on button click.
}
</script>




	


<style>
	.container {
	  position: relative;
	  width: 100%;
	  overflow: hidden;
	  padding-top: 62.5%; /* 8:5 Aspect Ratio */
	}
	
	.responsive-iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  width: 100%;
	  height: 100%;
	  border: none;
	}
	.ytp-overflow-icon{

	  display: none !important;
	}
	</style>



<%- include('../partials/bottom-nav.ejs') %>
